build/
bin/
out/
.cache/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake-install.cmake
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

.vs/
.vscode/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.idea/
*.xcodeproj
*.swp
*.swo

.DS_Store
Thumbs.db
